body
{
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.wd70
{
	margin-top: 70px;
	margin-bottom: 70px;
}

.upper50
{
	margin-top: 50px;
}

.lower50
{
	margin-bottom: 50px;
}

.lower100
{
	margin-bottom: 100px;
}

.lower130
{
	margin-bottom: 130px;
}

.topPad68
{
	padding-top: 68px;
}

#heroBackground
{
	background-color: black;
	height: 760px;
	width: 100%;
	color: white;
	background-image: url(backgroundImage.png);
	display: table;
	box-sizing: border-box;
}

#heroBackground h1
{
	font-family: 'Droid Sans', sans-serif;
	font-size: 72px;
	margin-bottom: 0px;
}

#heroBackground h2
{
	font-family: 'Droid Sans', sans-serif;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 40px;
}

#heroBackground p
{
	margin-top: 0px;
}

img
{
	display: block;
	margin: auto;
	max-width: 100%;
}

.imgInline
{
	text-align: left;
}

#arrow
{
	/* A great TV show */
	position: absolute;
	margin-left: 150px;
}

.socialIcons
{
	padding-top: 
}

.imgInline img, .socialIcons img
{
	display: inline-block;
	padding-right: 8px;
	text-align: center;
}

.center
{
	text-align: center;
}

.navbar
{
	margin-bottom: 0px;
}

#pentagon
{
	display: inline-block;
	margin-top: -20px;
	padding-right: 10px;
}

.tableVerticalAlign
{
	display: table-cell;
	vertical-align: middle;
}

.redCenter
{
	text-align: center;
	background-color: #ff5959;
	color: white;
}

.grayCenter
{
	text-align: center;
	background-color: #e8e8e8;
}

.filledButton
{
	background-color: #ff5959;
	color: white;
	padding: 10px 40px;
	margin-top: 30px;
	border-radius: 10px;
	border: 2px solid #ff5959;
	display: inline-block;
	font-family: 'Droid Sans', sans-serif;
	font-size: 18px;
}

.borderButton
{
	color: white;
	padding: 10px 40px;
	margin-top: 30px;
	border: 2px solid #ff5959;
	border-radius: 10px;
	display: inline-block;
	font-family: 'Droid Sans', sans-serif;
	font-size: 18px;
}

.filledButton:hover
{
	text-decoration: none;
	color: white;
	background-color: transparent;
}

.redHover:hover
{
	color: #ff5959;
}

.redText
{
	color: #ff5959;
}

.borderButton:hover
{
	text-decoration: none;
	color: white;
	background-color: #ff5959;
}

@media (max-width: 992px)
{
	.centerMobile
	{
		text-align: center;
	}

	.medBotPad68
	{
		padding-bottom: 68px;
	}
}

.navbar-static-top
{
	min-height: 111px;
	background-color: #ff5959;
	color: white;
	display: table;
	width: 100%;
	border: none;
}

.navbar-nav > li > a {
    line-height: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.navbar-nav > li > a:hover
{
	color: white !important;
	background-color: #fc7d7d !important;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.navbar-default .navbar-brand
{
	color: white;
}

.navbar-default .navbar-nav>li>a
{
	color: white;
}

.navbar h1
{
	font-weight: 400;
	font-size: 34px;
	display: inline-block;
	margin-bottom: -5px;
	margin-top: 0px !important;
	padding-top: 0px;
}

.navbar-brand
{
	padding: 0px 15px;
}

.navbarh1:hover
{
	color: white;
}

.navbar h2
{
	font-weight: 700;
	font-size: 14px;
	margin-top: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	color: white !important;
	background-color: #fc7d7d !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.weightLoss
{
	font-weight: 300;
}

.alignLeft
{
	text-align: left;
}

#contactArea
{
	font-size: 13px;
}

#contactArea h2
{
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 18px;
}

#footer
{
	height: 115px;
	display: table;
	width: 100%;
	font-size: 13px;
}

#contactArea input, textarea
{
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.tableWrapper
{
	display: table;
	width: 100%;
	height: 100%;
}

#portfolioArea h3
{
	font-size: 24px;
	font-weight: 700;
}


#portfolio1 {
  width: 558px;
  height: 278px;
  max-width: 100%;
  max-height: 278px;
  display: block;
  position: relative;
}

#portfolio1:after {
  content: " ";
  background-image: url(img-here.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio1:hover:after {
  content: " ";
  background-image: url(img-here.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio2 {
  width: 558px;
  height: 278px;
  max-width: 100%;
  max-height: 278px;
  display: block;
  position: relative;
}

#portfolio2::after {
  content: " ";
  background-image: url(img-here1.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio2:hover::after {
  content: " ";
  background-image: url(img-here1.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio3 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative;
}

#portfolio3::after {
  content: " ";
  background-image: url(img-here2.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio3:hover::after {
  content: " ";
  background-image: url(img-here2.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio4 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative;
}

#portfolio4::after {
  content: " ";
  background-image: url(img-here3.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio4:hover::after {
  content: " ";
  background-image: url(img-here3.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio5 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative;
}

#portfolio5::after {
  content: " ";
  background-image: url(img-here4.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio5:hover::after {
  content: " ";
  background-image: url(img-here4.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio6 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative;
}

#portfolio6::after {
  content: " ";
  background-image: url(img-here6.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

#portfolio6:hover::after {
  content: " ";
  background-image: url(img-here6.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}


/*#servicesArea
{
	text-align: center;
	background-color: #e8e8e8;
}

#portfolioArea
{
	text-align: center;
	background-color: #ff5959;
}

#teamArea
{
	background-color: #e8e8e8;
}*/